<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320.1,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/backstage.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>
  <body>
    <div class="container mar-t30 bg">
      <div class="row">
        <div class="col-sm-12 header">
          <h2>新闻后台发布系统</h2>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 navwrp">
          <div class="mynav">
            <div id="allnews-id">新闻总览</div>
            <div id="newstype-id">查询新闻</div>
            <div id="addnews-id">新增新闻</div>
          </div>
        </div>
        <div class="main col-lg-10 col-md-10 col-sm-10 sidebar">
          <div class="index-list"></div>
          <div style="display: none" class="searchnews">
            <div id="news-btn">
              <button type="button" id="type1" class="btn btn-info">推荐</button>
              <button type="button" id="type2" class="btn btn-info">百家</button>
              <button type="button" id="type3" class="btn btn-info">本地</button>
            </div>
            <div class="index-list"></div>
          </div>
          <div style="display: none" class="addnews">
            <form id="addnews" class="form-horizontal">
              <div class="form-group">
                <label for="newsid" class="col-sm-2 control-label">新闻类别</label>
                <div class="col-sm-2">
                  <select id="newsid" name="newstype" class="form-control">
                    <option value="type1">推荐</option>
                    <option value="type2">百家</option>
                    <option value="type3">本地</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">新闻标题:</label>
                <div class="col-sm-10">
                  <input id="newstitle" type="text" name="newstitle" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="newsimg" class="col-sm-2 control-label">图片地址:</label>
                <div class="col-sm-10">
                  <input id="newsimg" type="text" name="newsimg" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="newscontent" class="col-sm-2 control-label">新闻内容:</label>
                <div class="col-sm-10">
                  <textarea id="newscontent" type="text" rows="3" name="newscontent" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="newstime" class="col-sm-2 control-label">新闻时间:</label>
                <div class="col-sm-4">
                  <input id="newstime" type="date" name="newstime" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-1">
                  <input type="submit" value="提交" class="btn btn-success">
                </div>
                <div class="col-sm-2">
                  <input type="reset" value="重置" class="btn btn-danger">
                </div>
              </div>
            </form>
          </div>
          <div class="updatewrp">
            <form id="update" class="form-horizontal">
              <div class="form-group">
                <label for="newsid" class="col-sm-2 control-label">新闻ID:</label>
                <div class="col-sm-2">
                  <input id="updatenewsid" type="text" name="newsid" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="newstype" class="col-sm-2 control-label">新闻类型:</label>
                <div class="col-sm-2">
                  <input id="updatenewstype" type="text" name="newstype" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="newstype" class="col-sm-2 control-label">新闻标题:</label>
                <div class="col-sm-10">
                  <input id="updatenewstitle" type="text" name="newstitle" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="newsimg" class="col-sm-2 control-label">图片地址:</label>
                <div class="col-sm-10">
                  <input id="updatenewsimg" type="text" name="newsimg" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="newscontent" class="col-sm-2 control-label">新闻内容:</label>
                <div class="col-sm-10">
                  <textarea id="updatenewscontent" type="text" rows="3" name="newscontent" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="newstime" class="col-sm-2 control-label">新闻时间:</label>
                <div class="col-sm-4">
                  <input id="updatenewstime" type="date" name="newstime" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-1">
                  <input type="submit" value="提交" class="btn btn-success">
                </div>
                <div class="col-sm-2">
                  <input type="reset" value="重置" class="btn btn-danger">
                </div>
              </div>
            </form>
            <button id="close" type="button" class="btn btn-success">关闭</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/backstage.js"></script>
    <script type="text/javascript" src="scripts/jquery.form.js"></script>
  </body>
</html>