<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320.1,minimum-scale=1.0,maximum-scale=1.0">
    <title>百度新闻</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  </head>
  <body><!-- 头部 -->
    <header>
      <div class="header-left">
        <div class="header-btn handlogo"></div>
        <div class="header-btn userhome"></div>
      </div>
      <div class="header-right">
        <div class="header-btn subscribe"></div>
        <div class="header-btn search"></div>
      </div>
    </header>
    <div class="wrp">
      <div class="nav-wrp">
        <div class="divider"></div>
        <div class="main-nav">
          <table>
            <tbody>
              <tr class="tr-line">
                <td colspan="1">
                  <div><b></b><span id="type1" class="onclick cur">推荐</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span id="type2" class="onclick">百家</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span id="type3" class="onclick">本地</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>图片</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>娱乐</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>社会</span></div>
                </td>
              </tr>
              <tr class="tr-line">
                <td colspan="1">
                  <div><b></b><span>军事</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>女人</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>搞笑</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>科技</span></div>
                </td>
                <td colspan="2">
                  <div><b></b><span id="span-online" style="display:none">互联网</span>
                    <div class="more">更多
                      <div class="down-triangle"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr style="display: none">
                <td colspan="1">
                  <div><b></b><span>生活</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>国际</span></div>
                </td>
                <td colspan="1">
                  <div><b><span>国内</span></b></div>
                </td>
                <td colspan="1">
                  <div><b><span>体育</span></b></div>
                </td>
                <td colspan="1">
                  <div><b><span>汽车</span></b></div>
                </td>
                <td colspan="1">
                  <div><b><span>财经</span></b></div>
                </td>
              </tr>
              <tr style="display: none;">
                <td colspan="1">
                  <div><b></b><span>房产</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>时尚</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>教育</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>游戏</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>旅游</span></div>
                </td>
                <td colspan="1">
                  <div><b></b><span>人文</span></div>
                </td>
              </tr>
              <tr style="display: none;">
                <td colspan="2">
                  <div><b></b><span>创意</span></div>
                </td>
                <td colspan="2">
                  <div><b></b><span>互联网+</span></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="display: none" class="footer">
          <div class="btn-group">
            <div class="reporter-rank">记者榜</div>
            <div class="media-rank"><b>媒体榜</b></div>
            <div class="manage-subscribe"><b>删除及排序</b></div>
          </div>
          <div class="less">收起
            <div class="up-triangle"></div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="imgmove"><!-- 图片轮播 -->
          <div style="margin-left: -100%" class="g-list">
            <div class="g-item">
              <div class="g-item-innerbox">
                <div class="g-imagebox"><img src="images/car.jpg"></div>
                <h4 class="g-title"><span>江西女司机车祸后弃车回家吃饭</span></h4>
              </div>
            </div>
            <div class="g-item">
              <div class="g-item-innerbox">
                <div class="g-imagebox"><img src="images/xigua.jpg"></div>
                <h4 class="g-title"><span>大学生西瓜大战减压 互扔瓜瓤</span></h4>
              </div>
            </div>
            <div class="g-item">
              <div class="g-item-innerbox">
                <div class="g-imagebox"><img src="images/xiong.jpg"></div>
                <h4 class="g-title"><span>夫妇养270斤熊23年 同桌进餐</span></h4>
              </div>
            </div>
            <div class="g-item">
              <div class="g-item-innerbox">
                <div class="g-imagebox"><img src="images/car.jpg"></div>
                <h4 class="g-title"><span>江西女司机车祸后弃车回家吃饭</span></h4>
              </div>
            </div>
            <div class="g-item">
              <div class="g-item-innerbox">
                <div class="g-imagebox"><img src="images/xigua.jpg"></div>
                <h4 class="g-title"><span>大学生西瓜大战减压 互扔瓜瓤</span></h4>
              </div>
            </div>
          </div><!-- 滚动显示条 -->
          <div class="g-icons"><i class="cur"></i><i></i><i></i></div>
        </div>
        <div class="hotword"><!-- 热词新闻 -->
          <div class="hotword-left"><span>热点</span></div>
          <div class="hotword-right"><span>南方多地将再迎强降雨</span><b class="hotword-right-item"></b></div>
        </div>
      </div>
      <div class="index-view-subpage-feed"><!-- 主新闻 -->
        <div class="index-list"></div>
        <div class="morewrp"><!-- 点击加载更多 -->
          <div class="moremoremore">点击加载更多</div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/ejs.min.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>